*{
    margin: 0;
    padding: 0;
    font-family: Rockwell, Helvetica, sans-serif;
}

body{
    height: auto;
}

body{
    min-height: 100vh;
}

#topbar{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: #553019;
    color: white;
    flex-wrap: wrap;
}

.topbar-offre{
    font-weight: bold;
    box-sizing: border-box;
    width: 45%;
    padding: 12px 0;
}

.close-deal-button{
    margin: 0;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0;
    display: none;
}

.account-button, .cart-button{
    width: 7%;
    background-color: #553019;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.cafe-icon{
    vertical-align: middle;
}

.main{
    position: relative;
    background-color: #c7b299;
    display: flex;
    height: 100%;
}

.container{
    background-color: white;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.header img{
    display: block;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px 0;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: content-box;
    justify-content: center;
    background-color: #aa7b51;
    padding: 10px 0;
}

.responsive-menu{
    display: none;
    box-sizing: content-box;
    justify-content: center;
    background-color: #aa7b51;
}

.responsive-menu-button{
    border: none;
    background-color: #aa7b51;
    outline: none;
    color: white;
    padding: 5px;
}

.responsive-menu-list{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    background: #aa7b51;
    color: white;
    border-top: 1px solid #553019;
}

#responsive-menu-close-button{
    border: 0;
}

.responsive-menu-list li{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #553019;
    list-style: none;
    text-align: center;
}

.open-menu-icon{
    background-color: #aa7b51;
    border: none;
    color: white;
}

.menu ul li{
    box-sizing: content-box;
    color: white;
    display: inline;
    margin-right: 25px;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}

.top-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.left-pannel{
    width: 45%;
    text-align: center;
}

.left-pannel h2{
    padding: 10px;
}

.left-image{
    background: url("assets/Cafe-En-Grain.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 280px;
    width: 100%;
    box-shadow: 0px 3px 5px black;
}

.right-pannel{
    width: 45%;
    text-align: center;
}

.right-pannel h2{
    padding: 10px;
}

.right-image{
    background: url("assets/150929101049-black-coffee-stock-exlarge-169.jpg") 50% 50% no-repeat;
    background-size:cover;
    width: 100%;
    height: 280px;
    box-shadow: 0px 3px 5px black;
}

.separator{
    border-bottom: 1px solid lightgray;
    width: 93%;
}

.mid-content{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.cafe-exception{
    width: 45%;
    text-align: center;
    line-height: 1em;
    font-size: 4em;
    margin-top: auto;
    margin-bottom: auto;
}

.cafe-exception p{
    padding: 0;
    margin: 0;
}

.expection-style{
    color: #aa7b51;
    font-size: 1.2em;
}

.bloc-decouverte{
    width: 45%;
}

.bouton-decouverte{
    border: none;
    background-color: #aa7b51;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.bouton-decouverte:hover{
    box-shadow: 0px 5px 5px #553019;
}

.bottom-content{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.bottom-left-pannel{
    width: 32%;
    position: relative;
    overflow: hidden;
}

.bottom-left-image{
    display: block;
    margin: 0 auto;
    max-height: 200px;
    min-height: 100%;
    width: auto;
    height: auto;
}

.bottom-middle-pannel{
    width: 32%;
    position: relative;
    overflow: hidden;
}

.bottom-middle-image{
    display: block;
    margin: 0 auto;
    max-height: 200px;
    min-height: 100%;
    width: auto;
    height: auto;
}

.bottom-right-pannel{
    width: 32%;
    position: relative;
    overflow: hidden;
}

.bottom-right-image{
    display: block;
    margin: 0 auto;
    max-height: 200px;
    min-height: 100%;
    width: auto;
    height: auto;
}

.bottom-content-text{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background-color: #aa7b51;
    color: white;
}

.bottom-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-menu li{
    margin: 20px 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.bottom-infos{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-infos li{
    margin: 20px 10px;
    cursor: pointer;
}

.bottom-infos li:hover{
    border-bottom: 1px solid white;
}

/*

Mequia Queries 

*/

@media screen and (max-width: 1400px){

    .cafe-exception{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1023px){

    .container{
        width: 85%;
    }

    .cafe-exception{
        font-size: 2em;
    }

    .bottom-left-pannel{
        width: 100%;
    }

    .bottom-left-image{
        width: 90%;
        height: auto;
    }

    .bottom-middle-pannel{
        width: 100%;
    }

    .bottom-middle-image{
        width: 90%;
        height: auto;
    }

    .bottom-right-pannel{
        width: 100%;
    }

    .bottom-right-image{
        width: 90%;
        height: auto;
    }

    .bottom-content-text{
        padding:15px 0;
    }
}

@media screen and (max-width: 768px){
    .topbar-offre{
        width: 95%;
        background-color: #aa7b51;
        padding: 10px;
    }

    .close-deal-button{
        display: inline-block;
        width: 5%;
        background-color: #aa7b51 !important;
    }

    .account-button, .cart-button{
        padding: 10px;
        width: 40%;
    }

    .container{
        width: 100%;
    }

    .header img{
        display: block;
        box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px 0;
    }

    .menu{
        display: none;
    }

    .responsive-menu{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .responsive-menu-button{
        width: 90%;
    }

    .open-menu-icon{
        width: 5%;
        right: 0;
    }

    .open-menu-icon img{
        display: block;
        height: auto;
        width: 100%;
    }

    .left-pannel{
        width: 90%;
    }

    .left-image{
        background: url('assets/coffee-571245571.jpg') 50% 50% no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
        box-shadow: 0px 3px 5px black;  
    }

    .right-image{
        height: 200px;
    }

    .right-pannel{
        width: 90%;
    }

    .cafe-exception{
        width: 90%;
        font-size: 2.5em;
    }

    .bloc-decouverte{
        width: 90%;
        text-align: center;
        padding-top: 20px;
    }

    .bloc-decouverte p{
        padding-bottom: 10px;
    }

    .bottom-left-pannel{
        width: 100%;
    }

    .bottom-left-image{
        width: 90%;
        height: auto;
    }

    .bottom-middle-pannel{
        width: 100%;
    }

    .bottom-middle-image{
        width: 90%;
        height: auto;
    }

    .bottom-right-pannel{
        width: 100%;
    }

    .bottom-right-image{
        width: 90%;
        height: auto;
    }

    .bottom-content-text{
        padding:15px 0;
    }

    .bottom-menu li{
        width: 100%;
        text-align: center;
    }

    .bottom-infos li{
        width: 100%;
        text-align: center;
    }
}